{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static "blog.css" %}">
{% endblock %}

{% block title %}Blog{% endblock %}

{% block content %}
    <section class="blog-section">

        <header class="blog-header">
            <h1>Blog</h1>

            <form method="get" class="search-form">
                <input
                    type="text"
                    name="q"
                    placeholder="Search posts..."
                    value="{{ request.GET.q }}"
                >
                <button type="submit">
                    Search
                </button>
            </form>
        </header>

        {% if selected_tag %}
            <div class="active-filter">
                Posts tagged with:
                <span>#{{ selected_tag.slug }}</span>

                <a href="{% url 'blog:list' %}">
                    Clear filter
                </a>
            </div>
        {% endif %}

        <div class="posts-list">

            {% for post in posts %}
                <article class="post-card">

                    <div class="post-meta">
                        <time>
                            {{ post.created_at|date:"d M Y" }}
                        </time>
                    </div>

                    <h2 class="post-title">
                        <a href="{% url 'blog:detail' slug=post.slug %}">
                            {{ post.title }}
                        </a>
                    </h2>

                    <p class="post-outline">
                        {{ post.short_outline }}
                    </p>

                    <div class="post-tags">
                        {% for tag in post.tags.all %}
                            <a
                                href="?tag={{ tag.slug }}"
                                class="tag"
                            >
                                #{{ tag.name }}
                            </a>
                        {% endfor %}
                    </div>

                </article>
            {% empty %}
                <p>No posts found.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}